body{
    font-family: 'Poppins', sans-serif;
}
/* -------header Section-------- */

.btn-custom-design{
    padding: 10px 45px;
    color: white;
    background-color: #E76F51;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
}
.header-section{
    background-color: #264653;
}
.header-text-color-p{
    color: #E0E0E0;
}
.css-grayscale{
    filter: grayscale(100%);
}
.custom-text-color{
    color: #E76F51;
}
.questions-banner-height{
    height: 80%;
}
.background-shadow{
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  5px 5px 53px #e6e6e6,-5px -5px 53px #ffffff;
}
/* -----Footer Section----- */
.footer-section{
    min-height: 280px;
    width: 100%;
    background-color: #0B0D17;
}
.contact-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.custom-reaio{
    --bs-aspect-ratio: 65%;
}
/* .table-bg{
    background: #ffffff;
    box-shadow:  5px 5px 10px #f0f0f0,-5px -5px 10px #ffffff;
} */